/*************************************************/

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-Regular.eot');
    src: url('../fonts/AdobeClean/AdobeClean-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeClean/AdobeClean-Regular.woff2') format('woff2'),
        url('../fonts/AdobeClean/AdobeClean-Regular.woff') format('woff'),
        url('../fonts/AdobeClean/AdobeClean-Regular.otf') format('opentype'),
        url('../fonts/AdobeClean/AdobeClean-Regular.ttf') format('truetype'),
        url('../fonts/AdobeClean/AdobeClean-Regular.svg#AdobeClean-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-It.eot');
    src: url('../fonts/AdobeClean/AdobeClean-It.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AdobeClean/AdobeClean-It.woff2') format('woff2'),
    url('../fonts/AdobeClean/AdobeClean-It.woff') format('woff'),
    url('../fonts/AdobeClean/AdobeClean-It.otf') format('opentype'),
    url('../fonts/AdobeClean/AdobeClean-It.ttf') format('truetype'),
    url('../fonts/AdobeClean/AdobeClean-It.svg#AdobeClean-It') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-Bold.eot');
    src: url('../fonts/AdobeClean/AdobeClean-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AdobeClean/AdobeClean-Bold.woff2') format('woff2'),
    url('../fonts/AdobeClean/AdobeClean-Bold.woff') format('woff'),
    url('../fonts/AdobeClean/AdobeClean-Bold.otf') format('opentype'),
    url('../fonts/AdobeClean/AdobeClean-Bold.ttf') format('truetype'),
    url('../fonts/AdobeClean/AdobeClean-Bold.svg#AdobeClean-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-BoldIt.eot');
    src: url('../fonts/AdobeClean/AdobeClean-BoldIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeClean/AdobeClean-BoldIt.woff2') format('woff2'),
        url('../fonts/AdobeClean/AdobeClean-BoldIt.woff') format('woff'),
        url('../fonts/AdobeClean/AdobeClean-BoldIt.otf') format('opentype'),
        url('../fonts/AdobeClean/AdobeClean-BoldIt.ttf') format('truetype'),
        url('../fonts/AdobeClean/AdobeClean-BoldIt.svg#AdobeClean-BoldIt') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-Light.eot');
    src: url('../fonts/AdobeClean/AdobeClean-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AdobeClean/AdobeClean-Light.woff2') format('woff2'),
    url('../fonts/AdobeClean/AdobeClean-Light.woff') format('woff'),
    url('../fonts/AdobeClean/AdobeClean-Light.otf') format('opentype'),
    url('../fonts/AdobeClean/AdobeClean-Light.ttf') format('truetype'),
    url('../fonts/AdobeClean/AdobeClean-Light.svg#AdobeClean-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean';
    src: url('../fonts/AdobeClean/AdobeClean-LightIt.eot');
    src: url('../fonts/AdobeClean/AdobeClean-LightIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AdobeClean/AdobeClean-LightIt.woff2') format('woff2'),
    url('../fonts/AdobeClean/AdobeClean-LightIt.woff') format('woff'),
    url('../fonts/AdobeClean/AdobeClean-LightIt.otf') format('opentype'),
    url('../fonts/AdobeClean/AdobeClean-LightIt.ttf') format('truetype'),
    url('../fonts/AdobeClean/AdobeClean-LightIt.svg#AdobeClean-LightIt') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean Semi';
    src: url('../fonts/AdobeClean/AdobeClean-SemiCn.eot');
    src: url('../fonts/AdobeClean/AdobeClean-SemiCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCn.woff2') format('woff2'),
        url('../fonts/AdobeClean/AdobeClean-SemiCn.woff') format('woff'),
        url('../fonts/AdobeClean/AdobeClean-SemiCn.otf') format('opentype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCn.ttf') format('truetype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCn.svg#AdobeClean-SemiCn') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean Semi';
    src: url('../fonts/AdobeClean/AdobeClean-SemiCnIt.eot');
    src: url('../fonts/AdobeClean/AdobeClean-SemiCnIt.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCnIt.woff2') format('woff2'),
        url('../fonts/AdobeClean/AdobeClean-SemiCnIt.woff') format('woff'),
        url('../fonts/AdobeClean/AdobeClean-SemiCnIt.otf') format('opentype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCnIt.ttf') format('truetype'),
        url('../fonts/AdobeClean/AdobeClean-SemiCnIt.svg#AdobeClean-SemiCnIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Adobe Clean Semi';
    src: url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.eot');
    src: url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.woff2') format('woff2'),
        url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.woff') format('woff'),
        url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.otf') format('opentype'),
        url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.ttf') format('truetype'),
        url('../fonts/AdobeClean/AdobeClean-BoldSemiCn.svg#AdobeClean-BoldSemiCn') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Adobe Clean Semi';
    src: url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.eot');
    src: url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.woff2') format('woff2'),
    url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.woff') format('woff'),
    url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.otf') format('opentype'),
    url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.ttf') format('truetype'),
    url('../fonts/AdobeClean/AdobeClean-BoldSemiCnIt.svg#AdobeClean-BoldSemiCnIt') format('svg');
    font-weight: bold;
    font-style: italic;
}


@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100.svg#MuseoSansCyrl-100') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-100Italic.svg#MuseoSansCyrl-100Italic') format('svg');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300.svg#MuseoSansCyrl-300') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-300Italic.svg#MuseoSansCyrl-300Italic') format('svg');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500.svg#MuseoSansCyrl-500') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-500Italic.svg#MuseoSansCyrl-500Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700.svg#MuseoSansCyrl-700') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-700Italic.svg#MuseoSansCyrl-700Italic') format('svg');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900.svg#MuseoSansCyrl-900') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Museo Sans Cyrl';
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot');
    src: url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.eot?#iefix') format('embedded-opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff2') format('woff2'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.woff') format('woff'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.otf') format('opentype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.ttf') format('truetype'),
    url('../fonts/MuseoSansCyrl/MuseoSansCyrl-900Italic.svg#MuseoSansCyrl-900Italic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Baskerville Old Face';
    src: url('../fonts/BaskOldFace/BaskOldFace.eot');
    src: url('../fonts/BaskOldFace/BaskOldFace.eot?#iefix') format('embedded-opentype'),
    url('../fonts/BaskOldFace/BaskOldFace.woff2') format('woff2'),
    url('../fonts/BaskOldFace/BaskOldFace.woff') format('woff'),
    url('../fonts/BaskOldFace/BaskOldFace.ttf') format('truetype'),
    url('../fonts/BaskOldFace/BaskOldFace.svg#BaskOldFace') format('svg');
    font-weight: normal;
    font-style: normal;
}
